/*
COLORS:

Maroon: #592C22
Light green: #5F8C4A
Dark green: #224021

*/

*,
*::after,
*::before {
    margin: 0;  
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;   
    color: #333333;
    box-sizing: border-box;
}

.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(95, 140, 74, 0.8), rgba(89, 44, 34, 0.8)), url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 50% 100%, 0 85vh);
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.9rem;
    transform: translateX(1.2rem);

    /* animation */
    animation: moveInLeft 1.2s ease-out;
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;

    /* animation */
    animation: moveInRight 1.2s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateX(1.2rem);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    color: #777777;
    font-weight: 400;
    font-size: 1.6rem;
    vertical-align: middle;
    padding: 1.2rem 4rem;
    border-radius: .8rem;
}

.btn--white {
    background-color: #ffffff;
}

.btn:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
    transform: translateY(-.3rem);
}

.btn:active {
    box-shadow: 0 5rem 1rem rgba(0, 0, 0, .4);
    transform: translateY(-.1);
}

.btn--animated {
    /* animation */
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}